In [1]:
#Importing all required libraries for web scrapping
import selenium
import pandas as pd
import time
from selenium import webdriver
import numpy as np
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

### 1] Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 
You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening webpage using given url
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#To view most viewed videos on YouTube, clicking on "Top Videos" in the Contents section
topv=driver.find_element_by_xpath('//li[@class="toclevel-1 tocsection-2"]/a')
topv.click()

In [42]:
#Defining Variable list to store values
rank=[]
name=[]
artist=[]
date=[]
views=[]

In [43]:
#Fetching Rank of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")[:30]:
        rank.append(i.text)
except NoSuchElementException as e:
    rank.append('-')
        
#Fetching video name
try:
    for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")[:30]:
        name.append(j.text)
except NoSuchElementException as e:
    name.append('-')
        
#Fetching name of artist
try:
    for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")[:30]:
        artist.append(k.text)
except NoSuchElementException as e:
    artist.append('-')
        
#Fetching date of video uploaded 
try:
    for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")[:30]:
        date.append(l.text)
except NoSuchElementException as e:
    date.append('-')
        
#Fetching no. of views on video
try:
    for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")[:30]:
        views.append(m.text)
except NoSuchElementException as e:
    views.append('-')

In [47]:
#Closing driver
driver.close()

In [44]:
#Checking length of each variable
print(len(rank),len(name),len(artist),len(date),len(views))

30 30 30 30 30

In [45]:
#Creating dataframe1
top_videos=pd.DataFrame({})
top_videos['Rank']=rank
top_videos['Video Name']=name
top_videos['Artist Name']=artist
top_videos['Upload Date']=date
top_videos['Views(billions)']=views

#Setting "Rank" as index
top_videos.set_index("Rank",inplace=True)

In [46]:
#Displaying top most viewed videos on youtube
top_videos

,Video Name,Artist Name,Upload Date,Views(billions)
Rank,,,,
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.38
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.41
4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.19
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.12
9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.90
12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.37
15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.26
18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.07
20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.06
21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.04
23.,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.04
24.,"""Girls Like You""[49]",Maroon 5,"May 31, 2018",3.04
25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.92
27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.82

### 2] Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [82]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of bcci
driver.get('https://www.bcci.tv/')

In [83]:
#Going to International Fixtures page using it's xpath
international=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
international.click()

fixture=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
fixture.click()

In [84]:
#Extracting match title
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
title

[<selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="caf493a4-18ae-4eeb-b68a-d57adc888c2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="4da7b3ce-7937-4175-b95e-1ba5e125f74d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="dd652ee6-4392-46a9-943e-529c43458751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="3517d7ca-0f5b-47cf-8888-ff0411e7e5bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="a155a7a7-8f45-44c8-8d97-95442b8d288a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="1130525b-6823-4893-b1e5-38a40dae88a1")>]

In [86]:
#Running a loop to iterate over the tags extracted above and extract the text inside them
match_title=[]
for i in title:
    match_title.append(i.text)
match_title

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [87]:
#Extracting series of match
sr=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
sr

[<selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="7ea76e95-1610-46f6-b5fa-5cf8263d37f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="855d2986-e801-49b1-b114-b27a3c9af141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="84098981-1a53-4ec2-8b37-303a8316544f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="b812e929-ae38-4045-8059-726e88753880")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="4d5ece34-6b4b-4f21-b42a-4cfe524e036e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="7e9ab121-4cdf-4589-8f88-e1fbc7b2d849")>]

In [88]:
#Extracting match series from the extracted web elements
series=[]
for i in sr:
    series.append(i.text)
series

['ICC WORLD TEST CHAMPIONSHIP',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [89]:
#Extracting place of match
p=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
p

[<selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="030742bb-1cb9-435e-b734-5a09b412fc89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="e2d84a0d-32af-4770-ae08-bdad636d9f16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="7b7ebf51-b85d-4c13-a2da-d354c67049ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="48801069-532c-41fa-b97e-84e1b7d03194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="9360f568-e00b-46f0-9f9d-f97bafb4c9c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="d9a05aab-cf23-4f4a-b9c2-562f2c50a7df")>]

In [90]:
#Extracting place of match from the extracted web elements
place=[]
for i in p:
    place.append(i.text)
place

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [91]:
#Extracting match time
t=driver.find_elements_by_xpath("//span[@class='fixture__time']")
t

[<selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="e6367a07-786e-4514-ae76-7be8ab7df5e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="4da311f8-5b3c-4e34-9afb-74126085a80c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="dc2ae256-a105-4f81-bf4f-69ab5c773742")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="7f7378ce-3e51-46a8-8e2b-33ec1db83d2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="da1971c0-5306-4e42-b179-be5e6ffffb52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3957f3e0d0c48e13848aa28d275e1f28", element="5c212592-cfad-4b3f-855b-ae6d969b1f6c")>]

In [92]:
#Extracting match time from the extracted web elements
time=[]
for i in t:
    time.append(i.text)
time

['15:00 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [95]:
date=[]
month=[]

#Extracting match date
for i in driver.find_elements_by_xpath("//span[@class='fixture__date']"):
    date.append(i.text)
    
#Extracting match month
for j in driver.find_elements_by_xpath("//span[@class='fixture__month']"):
    month.append(j.text)
    
print(date)

print(month)

['18', '04', '12', '25', '02', '10']
['JUNE', 'AUGUST', 'AUGUST', 'AUGUST', 'SEPTEMBER', 'SEPTEMBER']

In [101]:
driver.close()

In [98]:
#Checking records in each variable
print(len(match_title),len(series),len(place),len(time),len(date),len(month))

6 6 6 6 6 6

In [99]:
#Creating dataframe
match=pd.DataFrame({})
match['Match Title']=match_title
match['Series Name']=series
match['Place']=place
match['Match Time']=time
match['Match Date']=date
match['Match Month']=month

In [100]:
#Final dataset
match

,Match Title,Series Name,Place,Match Time,Match Date,Match Month
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",15:00 IST,18,JUNE
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04,AUGUST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12,AUGUST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25,AUGUST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02,SEPTEMBER
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10,SEPTEMBER

### 3] Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
    
A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [127]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of guru99.com
driver.get(' https://www.guru99.com/')

In [110]:
#Going to Selenium page using it's xpath
selenium=driver.find_element_by_xpath('//li[@class="fa fa-chevron-circle-right"][3]')
selenium.click()

In [111]:
#Going to Selenium Exception page using it's xpath
selenium_ex=driver.find_element_by_xpath('//table[@class="table"][5]/tbody/tr[34]/td')
selenium_ex.click()

In [117]:
#Declaring empty lists to store values
name=[]
desc=[]

#Extracting Exception Name from the page
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    name.append(i.text)

#Extracting description of exception from the page
for j in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    desc.append(j.text)
    
print(name)

print(desc)

['Exception name', 'ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException', 'WebDriverException', 'ConnectionClosedException', 'ElementClickInterceptedException', 'ElementNotInteractableException', 'ErrorInResponseException', 'ErrorHandler.UnknownServerException', 'ImeActivationFailedException', 'ImeNotAvailableException', 'InsecureCertificateException', 'InvalidArgumentException', 'InvalidCookieDomainException', 'InvalidCoordinatesException', 'InvalidElementStateExceptio', 'InvalidSessionIdException', 'InvalidSwitchToTargetException', 'JavascriptException', 'JsonException', 'NoSuchAttributeException', 'MoveTargetOutOfBoundsException', 'NoSuchContextException', 'NoSuchCookieException', 'NotFoundException', 'RemoteDriverServerException', 'ScreenshotException', 'SessionNotCreatedException', 'UnableToSetCookieException', 'UnexpectedTagNameException', 'UnhandledAlertException', 'UnexpectedAlertPresentException', 'UnknownMethodException', 'UnreachableBrowserException', 'UnsupportedCommandException']
['Description', 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', 'This Exception occurs if an element could not be found.', 'This Exception occurs if the frame target to be switched to does not exist.', 'This Exception occurs when you switch to no presented alert.', 'This Exception occurs if the window target to be switch does not exist.', 'This Selenium exception occurs happens when the web element is detached from the current DOM.', 'The WebDriver is acting after you quit the browser.', "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.", 'This Exception takes place when the WebDriver is acting right after you close the browser.', 'This type of Exception takes place when there is a disconnection in the driver.', 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.', 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.', 'This happens while interacting with the Firefox extension or the remote driver server.', 'Exception is used as a placeholder in case if the server returns an error without a stack trace.', 'This expectation will occur when IME engine activation has failed.', 'It takes place when IME support is unavailable.', 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.', 'It occurs when an argument does not belong to the expected type.', 'This happens when you try to add a cookie under a different domain instead of current URL.', 'This type of Exception matches an interacting operation that is not valid.', "It occurs when command can't be finished when the element is invalid.", 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.', 'This occurs when the frame or window target to be switched does not exist.', 'This issue occurs while executing JavaScript given by the user.', 'It occurs when you afford to get the session when the session is not created.', 'This kind of Exception occurs when the attribute of an element could not be found.', 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.', 'ContextAware does mobile device testing.', 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.', 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.', 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.', 'It is not possible to capture a screen.', 'It happens when a new session could not be successfully created.', 'This occurs if a driver is unable to set a cookie.', 'Happens if a support class did not get a web element as expected.', 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.', 'It occurs when there is the appearance of an unexpected alert.', 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.', 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.', "This occurs when remote WebDriver does n't send valid commands as expected."]

In [118]:
#Checking records in each variable
print(len(name),len(desc))

42 42

In [119]:
#Creating dataframe
selenium_exception=pd.DataFrame({})
selenium_exception['Exception Name']=name
selenium_exception['Description']=desc

#Dropping 1st row as it contained the headings of both columns
selenium_exception.drop(0,axis=0,inplace=True)

In [122]:
#Final record
selenium_exception

,Exception Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [128]:
#Closing existing Web driver
driver.close()

### 4] Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
    
A) Rank
B) State
C) GSDP(19-20)
D) GSDP(18-19)
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [135]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of statisticstime.com
driver.get('http://statisticstimes.com/')

In [137]:
#Going to Economy India and then to GDP of Indian States using it's xpath

#First selecting economy to visualize drop down list
economy=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button')
economy.click()

#Selecting India from drop down list
india=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
india.click()

In [138]:
#Selecting GDP of Indian States from the web page
gdp=driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
gdp.click()

In [166]:
#Declaring empty lists to store values
rank=[]
state=[]
gsdp19=[]
gsdp18=[]
share=[]
gdpb=[]

#Extracting state rank from the page
for i in driver.find_elements_by_xpath("//td[@class='data1']")[:34]:
    rank.append(i.text)

#Extracting state name
for j in driver.find_elements_by_xpath("//td[@class='name']")[:34]:
    state.append(j.text)
    
#Extracting gsdp(19-20)
for k in driver.find_elements_by_xpath("//td[@class='data'][1]")[:34]:
    gsdp19.append(k.text)

#Extracting gsdp(18-19)
for l in driver.find_elements_by_xpath("//td[@class='data sorting_1']")[:34]:
    gsdp18.append(l.text)
    
#Extracting share percent
for m in driver.find_elements_by_xpath("//tr[@class='odd']/td[5]"):
    share.append(m.text)

#Extracting gdp
for n in driver.find_elements_by_xpath("//tr[@class='odd']/td[6]"):
    gdpb.append(n.text)
    
print(rank)

print(state)

print(gsdp19)

print(gsdp18)

print(share)

print(gdpb)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']
['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India']
['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-', '20,351,013']
['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-', '2,332,992']
['13.94%', '8.39%', '7.91%', '4.99%', '4.56%', '4.14%', '3.89%', '2.79%', '1.67%', '1.57%', '0.83%', '0.39%', '0.22%', '0.18%', '0.15%', '0.13%', '-', '13.97%', '8.41%', '7.92%', '5.06%', '4.65%', '4.24%', '3.99%', '2.83%', '1.69%', '1.60%', '0.80%', '0.40%', '0.22%', '0.18%', '0.15%', '0.13%', '-']
['399.921', '240.726', '226.806', '143.179', '130.791', '118.733', '111.519', '79.957', '47.982', '45.145', '23.690', '11.115', '6.397', '5.086', '4.233', '3.737', '-', '-', '1,015,735', '-', '630,693', '595,605', '-', '514,983', '374,015', '-', '210,837', '107,171', '56,810', '-', '23,564', '17,060', '-', '-']

In [167]:
#Checking records in each variable
print(len(rank),len(state),len(gsdp19),len(gsdp18),len(share),len(gdpb))

34 34 34 34 34 34

In [168]:
#Creating dataframe
gsdp=pd.DataFrame({})
gsdp['Rank']=rank
gsdp['State']=state
gsdp['GSDP(19-20)']=gsdp19
gsdp[' GSDP(18-19)']=gsdp18
gsdp['Share(18-19)']=share
gsdp['GDP($ billion)']=gdpb

In [169]:
#final dataset
gsdp

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.39%,240.726
2,3,Uttar Pradesh,"1,687,818","1,584,764",7.91%,226.806
3,4,Gujarat,-,"1,502,899",4.99%,143.179
4,5,Karnataka,"1,631,977","1,493,127",4.56%,130.791
5,6,West Bengal,"1,253,832","1,089,898",4.14%,118.733
6,7,Rajasthan,"1,020,989","942,586",3.89%,111.519
7,8,Andhra Pradesh,"972,782","862,957",2.79%,79.957
8,9,Telangana,"969,604","861,031",1.67%,47.982
9,10,Madhya Pradesh,"906,672","809,592",1.57%,45.145
10,11,Kerala,-,"781,653",0.83%,23.690
11,12,Delhi,"856,112","774,870",0.39%,11.115
12,13,Haryana,"831,610","734,163",0.22%,6.397
13,14,Bihar,"611,804","530,363",0.18%,5.086
14,15,Punjab,"574,760","526,376",0.15%,4.233
15,16,Odisha,"521,275","487,805",0.13%,3.737
16,17,Assam,-,"315,881",-,-
17,18,Chhattisgarh,"329,180","304,063",13.97%,-
18,19,Jharkhand,"328,598","297,204",8.41%,"1,015,735"
19,20,Uttarakhand,-,"245,895",7.92%,-
20,21,Jammu & Kashmir,-,"155,956",5.06%,"630,693"
21,22,Himachal Pradesh,"165,472","153,845",4.65%,"595,605"
22,23,Goa,"80,449","73,170",4.24%,-
23,24,Tripura,"55,984","49,845",3.99%,"514,983"
24,25,Chandigarh,-,"42,114",2.83%,"374,015"
25,26,Puducherry,"38,253","34,433",1.69%,-
26,27,Meghalaya,"36,572","33,481",1.60%,"210,837"
27,28,Sikkim,"32,496","28,723",0.80%,"107,171"
28,29,Manipur,"31,790","27,870",0.40%,"56,810"
29,30,Nagaland,-,"27,283",0.22%,-
30,31,Arunachal Pradesh,-,"24,603",0.18%,"23,564"
31,32,Mizoram,"26,503","22,287",0.15%,"17,060"
32,33,Andaman & Nicobar Islands,-,-,0.13%,-
33,,India,"20,351,013","2,332,992",-,-

In [170]:
#Closing browser
driver.close()

### 5] Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of github
driver.get(' https://github.com/')

In [3]:
#From home page, using the explore drop down list, clicking on the trendin option

#First selecting explore to visualize drop down list
explore=driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]')
explore.click()

#Selecting Trending from drop down list
trending=driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"][2]/li[3]/a')
trending.click()

In [4]:
#Fetching urls
urls=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(i.get_attribute("href"))

In [5]:
urls

['https://github.com/zzanehip/The-OldOS-Project',
 'https://github.com/PaperMC/Paper',
 'https://github.com/madMAx43v3r/chia-plotter',
 'https://github.com/actions/virtual-environments',
 'https://github.com/pytorch/fairseq',
 'https://github.com/actions/starter-workflows',
 'https://github.com/981011512/--',
 'https://github.com/chrxh/alien',
 'https://github.com/maziarraissi/Applied-Deep-Learning',
 'https://github.com/yangtingxiao/QuantumultX',
 'https://github.com/jwasham/coding-interview-university',
 'https://github.com/peng-zhihui/XUAN-Bike',
 'https://github.com/microsoft/vscode',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/liupan1890/aliyunpan',
 'https://github.com/florinpop17/app-ideas',
 'https://github.com/whittlem/pycryptobot',
 'https://github.com/danistefanovic/build-your-own-x',
 'https://github.com/OAI/OpenAPI-Specification',
 'https://github.com/Air14/HyperHide',
 'https://github.com/Charmve/computer-vision-in-action',
 'https://github.com/wuzhi04/MyActions',
 'https://github.com/tensorflow/tensorflow',
 'https://github.com/kubeflow/pipelines',
 'https://github.com/spring-projects/spring-boot']

In [23]:
#Defining empty lists to store values
title=[]
desc=[]
contri_count=[]
language=[]

In [24]:
#Fetching data from the urls
for i in urls:
    driver.get(i)
    time.sleep(5)
    
    #Fetching Repository title
    try:
        ti=driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
        title.append(ti.text.replace("\n"," "))
    except NoSuchElementException as e:
        title.append('-')
        
    #Fetching Repository description
    try:
        de=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        desc.append(de.text)
    except NoSuchElementException as e:
        desc.append('-')
        
    #Fetching Contributors count
    try:
        count=driver.find_element_by_xpath("//div[@class='BorderGrid-row'][3]/div/h2/a/span")
        contri_count.append(count.text)
    except NoSuchElementException as e:
        contri_count.append('-')
        
    #Fetching Language used
    try:
        lang=driver.find_element_by_xpath("//div[@class='BorderGrid-row'][4]/div/ul")
        language.append(lang.text.replace("\n"," "))
    except NoSuchElementException as e:
        language.append('-')

In [18]:
#Checking records in each variable
print(len(title),len(desc),len(contri_count),len(language))

25 25 25 25

In [25]:
#Creating dataframe
github=pd.DataFrame({})
github['Repository Title']=title
github['Repository Description']=desc
github['Contributors Count']=contri_count
github['Language Used']=language

In [26]:
#Final dataset
github

,Repository Title,Repository Description,Contributors Count,Language Used
0,zzanehip / The-OldOS-Project,Recreating a fully functional version of iOS 4...,5,Swift 93.4% Objective-C 5.9% Other 0.7%
1,PaperMC / Paper,High performance Spigot fork that aims to fix ...,-,-
2,madMAx43v3r / chia-plotter,-,17,C 68.5% C++ 31.0% Other 0.5%
3,actions / virtual-environments,GitHub Actions virtual environments,149,PowerShell 73.5% Shell 25.0% Other 1.5%
4,pytorch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,,
5,actions / starter-workflows,Accelerating new GitHub Actions workflows,-,
6,981011512 / -- Template,停车场系统源码，停车场小程序，智能停车，Parking system，【功能介绍】：①兼容市...,-,Java 100.0%
7,chrxh / alien,alien is a GPU-accelerated artificial life sim...,-,-
8,maziarraissi / Applied-Deep-Learning,Applied Deep Learning,-,-
9,yangtingxiao / QuantumultX,脚本，自用,-,-
10,jwasham / coding-interview-university,A complete computer science study plan to beco...,-,
11,peng-zhihui / XUAN-Bike,-,-,-
12,microsoft / vscode,Visual Studio Code,"1,434",TypeScript 94.0% JavaScript 3.3% CSS 1.5% Inno...
13,EbookFoundation / free-programming-books,📚 Freely available programming books,-,-
14,liupan1890 / aliyunpan,阿里云盘小白羊版 阿里云盘PC版,-,-
15,florinpop17 / app-ideas,A Collection of application ideas which can be...,68,-
16,whittlem / pycryptobot,Python Crypto Bot,-,
17,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),69,-
18,OAI / OpenAPI-Specification,The OpenAPI Specification Repository,-,
19,Air14 / HyperHide,Hypervisor based anti anti debug plugin for x6...,-,C++ 99.8% Other 0.2%
20,Charmve / computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,-,-
21,wuzhi04 / MyActions,-,-,JavaScript 99.0% Other 1.0%
22,tensorflow / tensorflow,An Open Source Machine Learning Framework for ...,140k,
23,kubeflow / pipelines,Machine Learning Pipelines for Kubeflow,247,Python 39.0% TypeScript 36.7% Go 18.0% Shell 2...
24,spring-projects / spring-boot,Spring Boot,15.7k,

In [27]:
#Closing existing web driver
driver.close()

### 6] Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [28]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of billboard
driver.get('https://www.billboard.com/')

In [30]:
#From home page, first going to the charts option and then clicking on Hot100 using it's xpath

#First selecting the charts drop down list
charts=driver.find_element_by_xpath('//div[@class="header__sticky__child"]/header/div/ul/li/a')
charts.click()

#Selecting Hot100 from drop down list
hot=driver.find_element_by_xpath('//a[@class="charts-landing__link charts-landing__video--background"]')
hot.click()

In [31]:
#Declaring empty lists to store values
song=[]
artist=[]
last_week=[]
peak_rank=[]
weeks_board=[]

#Extracting Song name  from the page
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song.append(i.text)

#Extracting Artist name 
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(j.text)
    
#Extracting Last week rank 
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last_week.append(k.text)

#Extracting Peak rank
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(l.text)
    
#Extracting Weeks on board 
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_board.append(m.text)

In [33]:
#Checking records in each variable
print(len(song),len(artist),len(last_week),len(peak_rank),len(weeks_board))

100 100 100 100 100

In [34]:
#Creating dataframe
billboard=pd.DataFrame({})
billboard['Song Name']=song
billboard['Artist Name']=artist
billboard['Last Week Rank ']=last_week
billboard['Peak Rank']=peak_rank
billboard['Weeks on Board']=weeks_board

In [35]:
#Final dataset
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

In [36]:
#Closing existing web driver
driver.close()

### 7] Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code.

In [83]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe") 
time.sleep(2)

#Opening the naukri.com
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

#Clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

#Accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

#Clicking on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

In [109]:
#Declaring empty lists to store values
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [110]:
#Extracting Name from the page
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a/span[1]"):
    name.append(i.text)

#Extracting Designation 
for j in driver.find_elements_by_xpath("//p[@class='highlightable']/span[1]"):
    designation.append(j.text)
    
#Extracting Company 
for k in driver.find_elements_by_xpath("//a[@class='ellipsis'][2]"):
    company.append(k.text)

#Extracting Skills they hire for
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(l.text)
    
#Extracting Location
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")

In [111]:
#Checking records in each variable
print(len(name),len(designation),len(company),len(skills),len(location))

50 50 50 50 50

In [113]:
#Creating dataframe
naukri=pd.DataFrame({})
naukri['Name']=name
naukri['Designation']=designation
naukri['Company']=company
naukri['Skills']=skills
naukri['Location']=location

In [114]:
#Final Dataset
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",No details available
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",No details available
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

In [115]:
#Closing web driver
driver.close()

### 8] Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
    
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [186]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of the guardian
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [188]:
#Declaring empty lists to store values
book1=[]
author=[]
volumes_sold=[]
publisher=[]
genre=[]

#Extracting Book name from the page
for i in driver.find_elements_by_xpath("//td[@class='left'][2]"):
    book1.append(i.text)

#Extracting Author name
for j in driver.find_elements_by_xpath("//td[@class='left'][3]"):
    author.append(j.text)
    
#Extracting Volumes sold 
for k in driver.find_elements_by_xpath("//td[@class='left'][4]"):
    volumes_sold.append(k.text)

#Extracting Publisher
for l in driver.find_elements_by_xpath("//td[@class='left'][5]"):
    publisher.append(l.text)
    
#Extracting Genre
for m in driver.find_elements_by_xpath("//td[@class='last left']"):
    genre.append(m.text)

In [189]:
#Checking records in each variable
print(len(book1),len(author),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [190]:
#Creating dataframe
books=pd.DataFrame({})
books['Book Name']=book1
books['Author Name']=author
books['Volumes Sold']=volumes_sold
books['Publisher']=publisher
books['Genre']=genre
books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [191]:
#Closing web driver
driver.close()

### 9] Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [128]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of imdb.com
driver.get('https://www.imdb.com/list/ls095964455/')

In [144]:
#Declaring empty lists to store values
name=[]
year_span=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

#Extracting tv series name from the page
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)

#Extracting Year Span 
for j in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year_span.append(j.text)
    
#Extracting Genre 
for k in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
    genre.append(k.text)

#Extracting Run Time
for l in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
    runtime.append(l.text)
    
#Extracting Ratings 
for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    ratings.append(m.text)
    
#Extracting Votes 
for n in driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]"):
    votes.append(n.text)

In [145]:
#Checking records in each variable
print(len(name),len(year_span),len(genre),len(runtime),len(ratings),len(votes))

100 100 100 100 100 100

In [147]:
#Creating dataframe
imdb=pd.DataFrame({})
imdb['Series Name']=name
imdb['Year Span']=year_span
imdb['Genre']=genre
imdb['Run Time']=runtime
imdb['Ratings']=ratings
imdb['Votes']=votes

In [148]:
#Final records
imdb

,Series Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,906"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,595"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,396"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,649"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,988"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,569"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,060"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,670"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,875"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,364"

In [149]:
#Closing browser
driver.close()

### 10] Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [150]:
#Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\MUNGI\Downloads\chromedriver_win32\chromedriver.exe")
#Opening home page of below url
driver.get('https://archive.ics.uci.edu/')

In [151]:
#Viewing all datasets using the click button
view=driver.find_element_by_xpath('//td[@width="100%"]/span[2]/a')
view.click()

In [152]:
#Declaring empty lists to store values
name=[]
dtype=[]
task=[]
atype=[]
instances_no=[]
attribute_no=[]
year=[]

#Extracting Dataset Name from the page
for i in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a"):
    name.append(i.text)

#Extracting Data type
for j in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[2]/p"):
    dtype.append(j.text)
    
#Extracting Task 
for k in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[3]/p"):
    task.append(k.text)

#Extracting Attribute Type
for l in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[4]/p"):
    atype.append(l.text)
    
#Extracting No of instances 
for m in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[5]/p"):
    instances_no.append(m.text)
    
#Extracting No of attribute 
for n in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[6]/p"):
    attribute_no.append(n.text)

#Extracting Year 
for o in driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr[2]/td[7]/p"):
    year.append(o.text)

In [153]:
#Checking records in each variable
print(len(name),len(dtype),len(task),len(atype),len(instances_no),len(attribute_no),len(year))

1 1 1 1 1 1 1

In [161]:
#Declaring empty lists to store values
name1=[]
dtype1=[]
task1=[]
atype1=[]
instances_no1=[]
attribute_no1=[]
year1=[]

#Extracting Dataset Name from the page
for i in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td/table/tbody/tr/td[2]/p/b/a"):
    name1.append(i.text)

#Extracting Data type
for j in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[2]/p"):
    dtype1.append(j.text)
    
#Extracting Task 
for k in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[3]/p"):
    task1.append(k.text)

#Extracting Attribute Type
for l in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[4]/p"):
    atype1.append(l.text)
    
#Extracting No of instances 
for m in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[5]/p"):
    instances_no1.append(m.text)
    
#Extracting No of attribute 
for n in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[6]/p"):
    attribute_no1.append(n.text)

#Extracting Year 
for o in driver.find_elements_by_xpath("//tr[@bgcolor='DDEEFF']/td[7]/p"):
    year1.append(o.text)

In [162]:
#Checking records in each variable
print(len(name1),len(dtype1),len(task1),len(atype1),len(instances_no1),len(attribute_no1),len(year1))

294 294 294 294 294 294 294

In [163]:
#Creating dataframe 1
df=pd.DataFrame({})
df['Dataset Name']=name
df['Dataset Types']=dtype
df['Default Task']=task
df['Attribute Types']=atype
df['No. of Instances']=instances_no
df['No. of Attributes']=attribute_no
df['Year']=year

In [167]:
#Creating dataframe 2
df1=pd.DataFrame({})
df1['Dataset Name']=name1
df1['Dataset Types']=dtype1
df1['Default Task']=task1
df1['Attribute Types']=atype1
df1['No. of Instances']=instances_no1
df1['No. of Attributes']=attribute_no1
df1['Year']=year1

In [169]:
#Concatenation of 2 dataframes = Final Required Dataframe
datasets=pd.concat([df,df1],ignore_index=True)
datasets

,Dataset Name,Dataset Types,Default Task,Attribute Types,No. of Instances,No. of Attributes,Year
0,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
1,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
2,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
3,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
4,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
...,...,...,...,...,...,...,...
583,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
584,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
585,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [170]:
#Closing browser
driver.close()